*{
    background-color: lightgrey;
}

:root{
    --colorForBackgroundwhite : white;
}
#headerStyle{
    width: 5000px;
    background-color: var(--colorForBackgroundwhite) ;
}

#headerElements{
    display: inline-flex;
    background-color: var(--colorForBackgroundwhite);
}

#colorBackground{
    background-color: var(--colorForBackgroundwhite);
}

nav{
    margin-top: 3rem;
    border:  1rem solid var(--colorForBackgroundwhite);
    background-color: var(--colorForBackgroundwhite);
}

#puls1{
    color: blue;
}

#puls2{

}