*{
    background-color: lightgrey;
}

:root{
    --colorWhite : white;
}
#headerStyle{
    width: 5000px;
    background-color: var(--colorWhite) ;
}

#headerElements{
    display: inline-flex;
    background-color: var(--colorWhite);
}

#colorBackground{
    background-color: var(--colorWhite);
}

nav{
    margin: 3rem 9rem 1rem;
    border:  1rem solid var(--colorWhite);
    background-color: var(--colorWhite);
}

