*{
    background-color: lightgrey;
}

:root{
    --colorWhite : white;
}

#headerStyle{
    width: 100%;
    background-color: var(--colorWhite) ;
}

#headerElements{
    display: inline-flex;
    background-color: var(--colorWhite);
}

#colorBackground{
    background-color: var(--colorWhite);
}

nav{
    padding-left: 1.5rem;
    margin: 3rem 9rem 2px;
    border:  1rem solid var(--colorWhite);
    background-color: var(--colorWhite);
}

nav>*{
    background-color: var(--colorWhite);
}

.navButtons{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid;
}

#firstButton{
    background-color: rgba(14, 164, 233, 0.582);
    color: white;
}

#secondButton{
    color: grey;
}

main{
    padding-left: 1.5rem;
    margin: 1px 9rem auto;
    border: 1rem solid var(--colorWhite);;
    background-color: var(--colorWhite);
    padding-bottom: 18px;
}
h2{
    background-color: var(--colorWhite);
}
h2::before{
    content: "▼ ";
    font-size:x-small;
}
ul{
    background-color: var(--colorWhite);
}

li{
    margin-bottom: 11px;
    background-color: var(--colorWhite);
}


.listButtons{
    border-radius: 7px;
    padding: px;
}

#buttonColorBlue{
    background-color: rgba(14, 164, 233, 0.582);
}

#buttonColorPurple{
    background-color: rgb(184, 82, 184);
}

#buttonColorOrange{
    background-color: orange;
}

#buttonColorGreen{
    background-color: lightgreen;
}

#buttonColorPink{
    background-color: rgb(207, 68, 172);
}